
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ProductDto>

<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title container d-flex justify-content-center" data-aos="fade-up">
        <p>@ViewData["CategoryName"]</p>
    </div><!-- End Section Title -->

    <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 menu-item isotope-item filter-starters">
                    <img src="~/@item.Img" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">@item.Name</a><span>@(item.Price > 0 ? $"{item.Price}  ₺" : "-")</span>
                    </div>
                    <div class="menu-ingredients">
                    </div>
                </div>
            }
            </div>

    </div>

</section><!-- /Menu Section -->
