@{
    ViewData["Title"] = "Home Page";
}
@model List<CategoryDto>

@{
    var culture = ViewBag.Culture as string ?? "tr";
}

<main class="main">
    <!-- Chefs Section -->
    <section id="chefs" class="chefs section">

        <!-- Section Title -->
        <div class="container section-title d-flex justify-content-center" data-aos="fade-up">
            <p>NESİL PASPATUR</p>
        </div><!-- End Section Title -->

        <div class="container">
            <div class="row gy-4">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" asp-route-culture="@culture">
                                <img src="@item.Img" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>@item.Name</h4>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                }

            </div>

        </div>

    </section><!-- /Chefs Section -->


</main>