
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>hi panel</h1>
<form action="/Admin/Login/LogOut" method="post">
    <button type="submit">Logout</button>
</form>

